.carousel-item {
  max-height: calc(100vh - (5rem + 5rem));
  overflow: hidden;  h3 {
    font-size: 4rem;
  }

  p {
    font-size: 2rem;
  }
}

.carousel-item img {
  width: 100%;
  height: auto;
}
.carousel-item p:first-of-type {
  color: gold;
}
